@import "tailwindcss";

:root {
  --background: #0f1014;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #00E5FF;
  --color-card-bg: #1A1C23;
  --color-text-muted: #A0AEC0;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-custom-bullet {
  width: 10px;
  height: 10px;
  background: #6b7280;
  opacity: 1;
  border-radius: 999px;
  display: inline-block;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.swiper-custom-bullet-active {
  width: 28px;
  background: #ff7034;
}

.portfolio-swiper .swiper-pagination {
  bottom: -30px !important;
}